<div class="container">
  <div class="card">
    <div class="card-header">
      <%= link_to "â® Back", admin_member_levels_path, class: 'btn btn-sm btn-outline-primary d-inline-block '%>
      <h5 class="d-inline-block align-middle mx-2 my-1">Update Member Level</h5>
    </div>
    <div class="card-body">
      <%= form_for @member_level, url: admin_member_level_path, method: :patch do |f| %>
        <%= render partial: 'form', locals: {f: f, member_level: @member_level} %>
        <%= f.submit "Update", class: 'border btn btn-primary form-control mt-3' %>
      <% end %>
    </div>
  </div>
</div>
