<%=render "shared/banner"%>

<section>
  <div class="container overflow-hidden">
    <h4>Winners Feedback</h4>
    <div class="row">
      <div class="col-4">
        <div class="p-3 border bg-light">
          <img src="" class="d-block w-100" alt="...">
          <h5 class="text-center">Lorem Ipsum</h5>
        </div>
      </div>
      <div class="col-4">
        <div class="p-3 border bg-light">
          <img src="/test/placeholder.jpeg" class="d-block w-100" alt="...">
          <h5 class="text-center">Lorem Ipsum</h5>
        </div>
      </div>
      <div class="col-4">
        <div class="p-3 border bg-light">
          <img src="/test/placeholder.jpeg" class="d-block w-100" alt="...">
          <h5 class="text-center">Lorem Ipsum</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<!--coming soon-->
<section style="padding-bottom: 60px; padding-top: 10px">
  <div class="container overflow-hidden ">
    <h5>Coming Soon</h5>
    <div class="row">
      <div class="col-4">
        <div class="p-3 border bg-light">
          <img src="/test/placeholder.jpeg" class="d-block w-100" alt="...">
          <h5 class="text-center">Lorem Ipsum</h5>
        </div>
      </div>
      <div class="col-4">
        <div class="p-3 border bg-light">
          <img src="/test/placeholder.jpeg" class="d-block w-100" alt="...">
          <h5 class="text-center">Lorem Ipsum</h5>
        </div>
      </div>
      <div class="col-4">
        <div class="p-3 border bg-light">
          <img src="/test/placeholder.jpeg" class="d-block w-100" alt="...">
          <h5 class="text-center">Lorem Ipsum</h5>
        </div>
      </div>
    </div>
  </div>
</section>