<%= link_to 'New', new_admin_category_path, class: 'btn btn-primary w-25' %>
<div class="card mt-4">
  <div class="card-body ">
    <table class="table table-striped table-hover">
      <thead>
      <th>Name</th>
      <th>Action</th>
      </thead>
      <tbody>
      <% @categories&.each do |category| %>
        <tr>
          <td><%= category.name%></td>
          <td>
            <%= link_to 'edit', edit_admin_category_path(category), class: 'btn btn-warning' %>
            <%= link_to "delete", admin_category_path(category), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
      <%unless @categories.present?%>
        <tr>
          <td colspan="2" class="text-muted">
            No categories to show
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
